body{
      background-color: rgba(0, 0, 0, 0.623);
    }
    .form-group label {
      display: block;
      margin-left: 5px;
      font-weight: bold;
    }
 
    .form-input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
 
    .submit-button {
      padding: 10px 50px;
      border-radius: 15px;
      transition: background-color 0.3s ease;
    }
 
    .submit-button:hover {
      background-color: #2563eb;
      /* Un azul más oscuro al pasar el mouse */
    }